* {
    padding: 0px;               /*сброс стилей*/
    margin: 0px;                    /*сброс стилей*/
    box-sizing: border-box;         /*сброс стилей*/
}

html, body {
    font-family: 'DM Sans', sans-serif;
    background-color: #191919;
    color: #fff;
}

ul {
    list-style: none;               /*сброс стилей*/
}

.container {
    height: 100%;
    width: 100%;
    max-width: 1440px;
    padding: 0 70px;
    margin-left: auto;
    margin-right: auto;
}

/* =================== Стили для хедера =============================== */


header {
    padding: 26px 0;
    min-height: 120px;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-image {
    margin: 17px 0;
}

.menu {
    display: flex;
    gap: 40px;
}

.menu-item {
    
}

.menu-link {
    font-weight: 400;
    font-size: 17px;
    line-height: 159%;
}

.main-image {
    border-radius: 12px;    /*скругление углов картинки в секции*/
    width: 650px;
    height: 873px;
}

/* =================== Стили для 1-ой секции =============================== */
.main-section {
    padding: 20px 0;
}

.main-text {
    font-weight: 400;
    font-size: 70px;
    line-height: 126%;
    letter-spacing: 0.05em;
    padding-bottom: 90px;
}

.main-wrapper {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 60px;
}

.main {
    padding: 314px 64px 130px 0;
}

.main-span {
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    margin-bottom: 16px;
}

.main-listen {
    padding-left: 20px;
}

.main-items {
    display: flex;
    justify-content: flex-start; 
    gap: 17px;
}