* {
    padding: 0px;               /*сброс стилей*/
    margin: 0px;                    /*сброс стилей*/
    box-sizing: border-box;         /*сброс стилей*/
}

html, body {
    font-family: 'DM Sans', sans-serif;
    background-color: #191919;
    color: #fff;
}

ul {
    list-style: none;               /*сброс стилей*/
}

.container {
    height: 100%;
    width: 100%;
    max-width: 1440px;
    padding: 0 70px;
    margin-left: auto;
    margin-right: auto;
}

/* =================== Стили для хедера =============================== */


header {
    padding: 26px 0;
    min-height: 120px;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-image {
    margin: 17px 0;
}

.menu {
    display: flex;
    gap: 40px;
}

.menu-item {
    
}

.menu-link {
    font-weight: 400;
    font-size: 17px;
    line-height: 159%;
}

/* =================== Стили для 1-ой секции =============================== */

.main-image {
    border-radius: 12px;    /*скругление углов картинки в секции*/
    width: 100%;
    max-width: 650px;
    min-height: 873px;
}

.main-section {
    padding: 20px 0;
}

.main-text {
    font-weight: 400;
    font-size: 70px;
    line-height: 126%;
    letter-spacing: 0.05em;
    padding-bottom: 90px;
}

.main-wrapper {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 60px;
}

.main {
    padding: 314px 64px 130px 0;
}

.main-span {
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    margin-bottom: 16px;
}

.main-listen {
    padding-left: 20px;
}

.main-items {
    display: flex;
    justify-content: flex-start; 
    gap: 17px;
}

/* =================== Стили для 2-ой секции =============================== */

.episodes {
    padding-top: 100px;
}

.top-items {
    display: flex;
    justify-content: space-between;
    min-height: 99px;
    margin-bottom: 40px;
}

.top-text {
    font-weight: 400;
    font-size: 64px;
    line-height: 124%;
    letter-spacing: 0.05em;
}

.view-button.episodes {
    margin: 24px;
}

.view-button {
    padding: 12px 15px 12px 20px;
    /* margin: 24px; */
    font-weight: 400;
    font-size: 17px;
    line-height: 159%;
    color: #fff;
    /* width: 178px; */
    max-height: 51px;
    border-radius: 6px;
    background-color: #118da8;
    border-style: none;
}

.card {
    border-radius: 32px;
    background: #000;
    padding: 40px;
    display: flex;
    gap: 53px;
}

.card-items {
    display: flex;
    flex-direction: column;
    align-self: end;
    align-items: flex-start;
}

.card-label {
    border-radius: 6px;
    background-color: #191919;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    line-height: 150%;
    margin-bottom: 49px;
    padding: 0 16px;
}

.card-span {
    font-weight: 400;
    font-size: 17px;
    line-height: 159%;
    color: #118da8;
    margin-bottom: 18px;
}

.card-title {
    min-height: 141px;
    max-width: 650px;
    font-weight: 400;
    font-size: 64px;
    line-height: 110%;
    letter-spacing: 0.04em;
    margin-bottom: 28px;
}

.card-text {
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 18px;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-bottom: 160px;
}

/* =================== Стили для 3-ой секции =============================== */

.info-wrapper {
    margin: 100px 0;
    display: flex;
    gap: 60px;
}

.info-bio-button {
    width: 100%;
    max-width: 112px;
    min-height: 112px;
    margin-bottom: 20px;
}

.info-bio-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* min-width: 590px;
    max-height: 448px; */
}

.info-bio-span {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #118da8;
}

.info-bio-name {
    font-weight: 400;
    font-size: 65px;
    line-height: 122%;
    letter-spacing: 0.04em;
    margin-bottom: 28px;
}

.info-bio-text {
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.7);
}

.info-bio-text-1 {
    margin-bottom: 33px;
}

.info-image {
    border-radius: 12px;
    width: 100%;
    min-height: 743px;
    max-width: 650px;
}


