html, body {
    font-family: 'DM Sans', sans-serif;
    background-color: #191919;
    color: #fff;
}

ul {
    list-style: none;
    display: flex;
}

li {
    display: flex;
    gap: 40px;
    justify-content: space-around;
}

header {
    display: flex;
    padding: 26px 0;
    max-width: 1440px;
    min-height: 120px;
}

nav {
    
}

.main-image {
    border-radius: 12px;
    width: 650px;
    height: 873px;
}